@font-face {
    font-family: 'armhandwrite';
    src: url('/public/fonts/ArmAllegroU.ttf') ;
}

@font-face {
    font-family: "vrdznagir";
    src: url("/public/fonts/Vrdznagir.otf");
}

body {
    background-color: #fff7ee !important;
}

p{
    margin: 30px 0;
}

.header {
    width: 100%;
}

.header-img{
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
}

.img-main {
    height: 584px;
    width: 389px;
    margin: 0 40px;
}

.img-left, .img-right {
    width: 352px;
    /* height: 400px; */
}

.fst-content, .hscd-content{
    width: 100%;
    display: inline;
    position: absolute;
    top: 38px;
    color: white;
    font-family: "armhandwrite";
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    text-shadow: 3px 1px 2px rgba(179, 214, 185, 0.6);
}

.hscd-content {
    top: 458px;
    font-weight: 300;
}

.timer{
    font-family: "armhandwrite";
    height: 210px;
    width: 100%;
    background: radial-gradient(circle, rgba(243, 225, 215, 1) 5%, rgba(174, 163, 161, 1) 100%);
    font-size: 39px;
    text-shadow: 3px 3px 7px rgba(213, 229, 219, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 35%;
    font-weight: 600;
    text-shadow: 7px 4px 10px #7e6767;
}

.timer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer p {
    height: 40px;
}

.tm-name {
    font-size: 16px;
}

#days,
#hours,
#minutes,
#seconds {
    font-family: "Old Standard TT", serif;
    font-weight: 300;
}
/* 000000 */
.main-box {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* height: 100vh; */
    margin-top: 20px;
    padding: 40px 20px;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'MontserratARM', Arial, sans-serif;
}

.main-box .main-text {
    width: 32%;
}

.main-img {
    width: 60%;
    height: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-img img,
.schedule-img {
    border-radius: 200px 0;
}

.fst-img {
        position: relative;
        left: 59px;
        z-index: -2;
        width: 293px;
        height: 450px;
    /* height: 450px !important; */
}

.img-scd {
    /* margin-left: -42px; */
    height: 576px;
    width: 375px;
}

.month {
    font-family: "armhandwrite";
    font-size: 34px;
    margin-left: 50px;
}

.cld {
    width: 260px;
    height: 204px;
    position: absolute;
    margin-top: -27px;
    z-index: -1;
}

.text-box {
    width: 360px;
    margin-top: 100px;
    margin-left: 20%;
    font-family: 'vrdznagir'; 
    text-shadow: 2px 1px #c3b0b0b8;
}

.text-h1,
.schedule {
    font-size: 40px;
    color: #4a4952;
    letter-spacing: 6px;
}

.scd-box {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    font-family: 'vrdznagir';
    text-shadow: 2px 1px #c3b0b0b8;
    height: 100vh;
    padding: 40px 0;
}

.text2 {
    color: #555555;
    font-size: 26px;
    transform-origin: center center;
    line-height: 30px;
}

.locations{
   height: 100%;
   width: 288px;
}

.date{
    font-family: "Abril Fatface", serif;
    font-size: 26px;
}

.text3, a{
    color: #555555 !important;
    font-size: 22px;
}

.schedule-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;     
}

.loc-div{
   margin-top: 10px;
}

.loc-name div{
    margin-bottom: 35px;
}

.schedule {
    text-align: center;
    font-weight: 700;
}

@media screen and (max-width: 1279px) {
    .img-main {
        height: 570px;
        width: 380px;
        margin: 0 20px;
    }

    .img-left,
    .img-right {
        width: 240px;
        height: 360px;
    }
  
} 

@media screen and (max-width: 1056px) {
    .text-h1,
    .schedule {
        font-size: 35px;
    }

    .img-scd {
        height: 561px;
        width: 370px;
    }

    .fst-img {
        width: 290px;
        height: 388px;
    }

}

@media screen and (max-width: 987px) {

    .text-h1,
    .schedule {
        font-size: 35px;
    }

    .img-scd {
        height: 500px;
        width: 330px;
    }

    .fst-img {
        width: 275px;
        height: 334px;
    }

    .text-box {
        margin-left: 6%;
    }

    .fst-img {
        border-radius: 123px 0 !important;
    }
}

@media screen and (max-width: 900px) {
    .img-main {
        height: 497px;
        width: 331px;
        margin: 0 10px;
    }

    .img-left,
    .img-right {
        width: 223px;
        height: 340px;
    }
       
    .hscd-content {
        top: 405px;
    }

    .text-h1,
    .schedule {
        font-size: 35px;
    }
    
    .img-scd {
        border-radius: 150px 0 !important;
        height: 467px;
        width: 292px;
    }
    
    .fst-img {
        width: 278px;
        height: 301px;
    }

    .text-box {
        margin-top: 55px;
    }

    .text2 {
        font-size: 24px;
    }

    .cld {
        width: 251px;
        height: 200px;
        z-index: -3;
    }

}

@media screen and (max-width: 782px) {
    .img-main {
        margin: 0;
        height: 431px;
        width: 310px;
    }

    .img-left,
    .img-right {
        width: 206px;
        height: 344px;
        z-index: -2;
    }

    .img-left{
        margin-right: -20px;
    }

    .img-right{
        margin-left: -20px;
    }

    .hscd-content, .fst-content {
        font-size: 25px;
    }

    .hscd-content {
        top: 370px;
    }

    .timer{
        height: 169px;
        padding: 0 30%;
        font-size: 33px;
    }

    .timer p {
        margin-bottom: 0;
    }

    .img-scd {
        height: 433px;
        width: 274px;
    }

    .fst-img {
        width: 274px;
        height: 266px;
        border-radius: 106px 0 !important;
    }

    .text-box{
        margin-top: 33px;
        width: 322px;
        margin-left: 0;
    }

    .text-h1{
        font-size: 32px;
    }

    .text2{
        font-size: 21px;
    }

    .cld {
        width: 223px;
        height: 176px;
    }

    .month{
        font-size: 30px;
    }

    .main-box .main-text {
        width: 25%;
    }

    .main-img {
        width: 67%;
    }
}

@media screen and (max-width: 672px) {
    .img-main {
        /* height: 386px; */
        width: 300px;
    }

    .img-left,
    .img-right {
        width: 183px;
        height: 312px;
    }

    .img-left {
        margin-right: -28px;
    }

    .img-right {
        margin-left: -28px;
    }

    .hscd-content,
    .fst-content {
        font-size: 32px;
    }

    .hscd-content {
        top: 340px;
    }

    .timer{
        font-size: 29px;
    }

    .tm-name{
        font-size: 20px;
    }

    .img-scd{
        height: 400px;
        width: 244px;
        border-radius: 128px 0 !important;
    }

    .fst-img{
        width: 274px;
        height: 276px;
    }

    .text-box{
        width: 253px;
    }

    .text-h1 {
        font-size: 30px;
    }
    
    .text2 {
        font-size: 20px;
    }

    .month{
        font-size: 27px;
        margin-left: 31px;
    }

    .cld {
        width: 202px;
        height: 160px;
        margin-left: -10px;
    }

    .locations {
        width: 268px;
    }

    .loc-name{
        padding-right: 20px;
    }

    .loc-name div {
        margin-bottom: 25px;
    }

    .date{
        font-size: 24px;
    }

    .text3{
        font-size: 20px;
    }

    .text3 i {
        font-size: 37px !important;
    }
}


@media screen and (max-width: 580px) {
    .img-main {
        height: 335px;
        width: 243px;
    }
    
    .img-left,
    .img-right {
        width: 151px;
        height: 226px;            
    }
    
    .fst-content {
        top: 27px;
        font-size: 28px;
    }
    
    .hscd-content {
        top: 261px;
        font-size: 24px;
    }

    .timer{
        /* font-size: 26px; */
        height: 150px;
        padding: 0 23%;
    }

    .timer div{
        margin-right: 24px;
    }

    .text-box {
        width: 213px;
        margin-left: 10px;
    }

    .text-h1 {
        font-size: 24px;
    }

    .text2 {
        font-size: 21px;
    }

    .fst-img{
        top: 303px;
        left: 100px;
        height: 300px;
        width: 185px;
    }

    .img-scd{
        height: 347px;
        width: 228px;
        margin-right: 24px;
    }
    
    .main-box .main-text {
        width: 16%;
    }

    .main-img {
        width: 90%;
    }

    .scd-box{
        margin-top: 245px;
    }

    .loc-name{
    position: relative;
        top: 20px;
    }

    .date {
        font-size: 20px;
    }
    
    
    .text3 {
        font-size: 14px;
    }

    .text3 i {
        font-size: 28px !important;
    }

    .locations {
        width: 255px;
    }
} 

@media screen and (max-width: 483px) {
    .loc-name {
        position: relative;
        top: 20px;
    }
    
    .locations {
        width: 240px;
    }

}


@media screen and (max-width: 463px) {
    .img-main {
        height: 325px;
        width: 211px;
    }
    
    .img-left,
    .img-right {
        width: 97px;
        height: 162px;
    }
    
    .fst-content {
        /* font-size: 16px; */
    }
    
    .hscd-content {
        /* top: 196px; */
        font-size: 22px;
    }

    .timer{
        height: 140px;
        font-size: 24px;
        padding: 0px 15%;
    }

    .tm-name{
        margin-top: -12px;
    }

    .main-box{
        flex-direction: column;
        align-items: center;
    }
    
    .main-text, .main-img{
        width: 100%;
    }

    .text-box{
        margin: 0;
        width: 100%;
        padding: 20px;
    }
    
    .full-text{
        text-align: center;
    }

    .text-h1{
        font-size: 26px;
    }

    .main-box .main-text {
        width: 100%;
    }

    .text2 {
    font-size: 22px;
    }

    .cld{
        margin-left: 0;
        width: 189px;
        height: 147px;
    }

    .month{
        margin-left: 33px;
    }

    .main-img{
        margin-top: 60px;
        padding: 0 15px;
    }

    .fst-img{
        left: 25px;
        top: 0;
        width: 240px;
        height: 224px;
    }

    .img-scd{
        margin-right: 20px;
        height: 322px;
        width: 204px;
    }

    .text3{
        font-size: 15px;
    }

    .text3 i {
        font-size: 22px !important;
    }

    .locations{
        width: 180px;
    }

    .scd-box{
        margin-top: 0;
    }
} 
  @media screen and (max-width: 353px) {
    .img-main {
        height: 186px;
        width: 122px;
    }

    .img-left,
    .img-right {
        width: 100px;
        height: 148px;
    }

    .fst-content {
        font-size: 13px;
    }

    .hscd-content {
        top: 168px;
        font-size: 12px;
    }

    .timer {
        height: 120px;
        font-size: 22px;
    }
    
    .tm-name {
        font-size: 11px;
    }

    .img-scd{
        height: 305px;
        width: 189px;
    }

    .fst-img{
        width: 232px;
        height: 198px;
    }

}